<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />   
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="fluentuiBase.styles.css" />    
    <HeadOutlet @rendermode="InteractiveServer" />
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.lib.module.js" type="module" async></script>
    <script src="/_content/fluentuiBase.Control/js/exampleJsInterop.js"></script>
    <script src="/_content/fluentuiBase.Control/js/observer.js"></script>
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
